.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/
results/
test/
supplementary/
code/ode_model/

# Data folders of datasets
data/scRNA
data/microarray/GSE57304_RAW
data/go
data/pathway_files

*.html

# Ignore unused scripts
project_structure.ipynb